<section id="section-about" class="clearfix about">

    <div class="heading center">
        <h2 class="heading__main">Meet the Doctors</h2>
        <h3 class="heading__byline">of Tate Family Dentistry</h3>
    </div>

    <div class="container">
        <div class="about__content">
            <img src="assets/staff/DrHaley_Tate.jpg" alt="Doctor Tate" class="about__image-wrapper">
            <div class="about__copy-wrapper">
                <h3 class="about__doctor-name">Haley Tate, DDS</h3>
                <h3 class="about__doctor-title">General Dentist</h3>
                <p class="about__copy">The minute you walk through the door, you will know you've come to the right place.
                    The office's relaxing environment and warm, inviting staff members will make you feel right at home, and
                    Dr. Tates's use of the latest advances in technology - including digital x-rays, CEREC one-visit
                    restorations, and in-office smile whitening - will help you and your family maintain beautiful smiles
                    for a lifetime. Best of all, Dr. Tate takes the time to get to know each and every patient one on one,
                    helping you make informed choices about your dental health.</p>
                <p class="about__copy">A Maryland native and a graduate of the University of Maryland School of Dentistry,
                    Dr. Tate is a former naval dental officer and is currently an active member of the Maryland Dental
                    Association, of which he was recently vice president. He and his wife, Carol, have two children.</p>
            </div>
        </div>
    </div>

    <div class="doctor-anderson__wrapper">
        <div class="container">
            <div class="about__content">
                <div class="about__copy-wrapper">
                    <h3 class="about__doctor-name">Michael Anderson, DDS</h3>
                    <h3 class="about__doctor-title">General Dentist</h3>
                    <p class="about__copy">Dr. Anderson grew up in Rockville, Maryland. Since his teenage years, Dr.
                        Anderson has had an interest in dentistry and oral health. After completing high school, he attended
                        the University of Maryland, College Park where he obtained a degree in General Biology, with Honors.
                        From there, Dr. Anderson pursued his interest in dentistry at the Baltimore College of Dental
                        Surgery, University of Maryland. Upon completing his dental degree, he moved to York, Pennsylvania
                        for a General Practice Residency at the York Hospital Dental Center. Here he received advanced
                        training in topics of general dentistry including oral surgery, pediatrics, management of dental
                        emergencies and dental implant placement.</p>
                    <p class="about__copy">One of the things Dr. Anderson enjoys most about dentistry is interacting with
                        his patients in a meaningful way as he helps them obtain a beautiful, healthy smile.</p>
                </div>
                <img src="assets/staff/dranderson.jpg" alt="Doctor Tate" class="about__image-wrapper">
            </div>
        </div>
    </div>

    <div class="about__team-carousel">
        {% include 'molecules/team__carousel.twig' %}
    </div>


    {#{%  include 'molecules/associations__carousel.twig' %}#}

    {#   About section video slab with modal   #}
    {#{% include 'molecules/video-promo--full-slab-with-modal.twig' %}#}
    {#<div class="about__video">#}
    {#<div class="about__heading">#}
    {#<h2 class="about__title">Watch Our Video</h2>#}
    {#</div>#}
    {#<div class="about__video-thumb">#}
    {#<a href="#" data-toggle="modal" data-target="#video-modal">#}
    {#<img src="assets/video-thumb.jpg" alt="Watch a video with {{ mainDoctor }}">#}
    {#</a>#}
    {#</div>#}
    {#</div>#}
    {#<div id="video-modal" class="modal fade" tabindex="-1" role="dialog">#}
    {#<div class="modal-dialog" role="document">#}
    {#<div class="modal-content">#}
    {#<div class="modal-header">#}
    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
    {#<h3 class="modal-title">Buy Back Bling</h3>#}
    {#</div>#}
    {#<div class="modal-body">#}
    {#<iframe width="560" height="315" src="https://www.youtube.com/embed/ij80aLjokfA" allowfullscreen id="video-iframe"></iframe>#}
    {#</div>#}
    {#</div><!-- /.modal-content -->#}
    {#</div><!-- /.modal-dialog -->#}
    {#</div><!-- /.modal -->#}
</section>

