<section id="section-forms">
    <div class="container center">
        <div class="heading">
            <h2 class="heading__title">New Patient Forms</h2>
            <h5 class="heading__byline">Save time at your appointment by filling out the form before you come.</h5>
        </div>
        <a href="https://www.ident.ws/template_include/new_patient_sign_in.do?site=3968&practiceId=16419" target="_blank" class="btn">New Patient Forms</a>
    </div>
</section>
