<!-- Header
============================================= -->
<header id="header" class="full-header{% if transparent %} {{ "full-header--transparent" }}{% endif %}">

    <div id="header-wrap" >

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <!-- Logo
  ============================================= -->
        <div id="logo">
            <a href="#" data-scrollto="#header" data-offset="60">
                <div>
                    <img src="assets/tate-logo.svg" alt="{{ mainDocter }}">
                </div>
            </a>
        </div><!-- #logo end -->

        <!-- Primary Navigation
  ============================================= -->
        <nav id="primary-menu">

            <ul class="one-page-menu navbar" data-easing="easeInOutExpo" data-speed="1500">
                <li><a href="#" data-offset="80" data-href="#section-specials"><div>New Patient Offers</div></a></li>
                <li><a href="#" data-offset="80" data-href="#section-reviews"><div>Reviews</div></a></li>
                <li><a href="#" data-offset="80" data-href="#section-insurance"><div>No Insurance?</div></a></li>
                <li><a href="#" data-offset="80" data-href="#section-about"><div>Meet the Team</div></a></li>
                <li><a href="#" data-offset="80" data-href="#section-services"><div>Services</div></a></li>
                {#<li><a href="#" data-offset="80" data-href="#section-tour"><div>Tour</div></a></li>#}
                <li><a href="#" data-offset="80" data-href="#section-forms"><div>Forms</div></a></li>
                <li><a href="#" data-offset="80" data-href="#section-location"><div>Location</div></a></li>
            </ul>

            <!-- Top Search
    ============================================= -->

        </nav><!-- #primary-menu end -->

        <!--</div>-->
    </div>

</header><!-- #header end -->
<div class="clear"></div>