<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--[if lt IE 9]>
     <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <meta name="keywords" content="{{ keywords }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700%7CMuli%7CPoly:400,400i%7CLato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>