<section id="section-insurance">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <h2 class="title">No Insurance?</h2>
                <h3 class="sub-title">Our Patients Don't Need It!</h3>
                <h4 class="care-text">Get your preventive care for<br>a low monthly fee.</h4>
                <ul>
                    <li class="list-item">
                        <p>Exclusively for our uninsured patients.</p>
                    </li>
                    <li class="list-item">
                        <p>Make easy payments for your preventive care.</p>
                    </li>
                    <li class="list-item">
                        <p>Save money on your treatment.</p>
                    </li>
                </ul>
                <a class="btn" href="{{ insuranceLink }}" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <div class="mobile-insurance-fix">
        <img src="/assets/mobile-no-ins.jpg" alt="Doctor Tate's happy patients">
    </div>
</section>
