<section id="section-location" class="location location__third-slab">
    <div class="location__card--wrapper">

        {% include 'molecules/location-card__simple.twig' %}

    </div>
    <div class="location__map">

        {% include 'atoms/google-map.twig' %}

    </div>
</section>