<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/slides/slide-mobile.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</div>

<!-- Marquee Slider
============================================= -->
<section id="marquee-slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix hidden-xs">
    <div class="swiper-container swiper-parent swiper-container-horizontal">
        <div class="swiper-wrapper">
            {#<!--Slide 1-->#}
            {#<!--=======-->#}
            <div class="swiper-slide swiper-slide-active slide1">
                <img src="/assets/slides/slide1.jpg" alt="Happy kids with great smiles">
                <div class="container-fluid clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="slide__title">Helping People</h1>
                            <h2 class="slide__title-smile">Smile</h2>
                            <h3 class="slide__byline">Meet Dr. Haley Tate & Dr. Michael Anderson</h3>
                            <h4 class="slide__copy">Now Welcoming New Patients</h4>
                            <a href="#" class="btn" data-scrollto="#section-specials" data-offset="80">New Patient Offers</a>
                        </div>
                    </div>
                </div>
            </div>
            {#<!--Slide 3-->#}
            {#<!--=======-->#}
            <div class="swiper-slide slide2">
                <img src="/assets/slides/slide2.jpg" alt="Happy Mother and Child">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="slide__title">See What Our<br>Patients Are Saying</h1>
                            {#<h3 class="stars"><i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i></h3>#}
                            <div class="stars"><img src="assets/slides/slide2-stars.png" alt="five stars"></div>
                            <h5 class="copy">"Excellent, courteous and friendly service from the reception to the Dr's visit. It is definitely a family atmosphere where I felt very comfortable." -&nbsp;Sharon.&nbsp;S</h5>
                            <a href="#" class="btn" data-offset="80" data-scrollto="#section-reviews">Read More Reviews</a>
                        </div>
                    </div>
                </div>
            </div>
            {#<!--Slide 2-->#}
            {#<!--=======-->#}
            <div class="swiper-slide slide3">
                <img src="/assets/slides/slide3.jpg" alt="Two happy kids back from the dentist">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="title--no-insure">NO INSURANCE?</h1>
                            <h1 class="title--sub">Our patients don’t need it!</h1>
                            <h3 class="preventative-copy">Get your preventive care for<br>a low monthly fee.</h3>
                            <a href="#" class="btn btn--style-three" data-offset="80" data-scrollto="#section-insurance">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
