<section id="section-specials">

    <div class="container clearfix">
        <div class="col-md-6">
            <div class="heading">
                <h2 class="title">Special Offers</h2>
                <h4 class="sub-title">Offers End June 20, 2017</h4>
                <h6 class="sub-title-two">New Uninsured Patients Only</h6>
            </div>
        </div>
        {# TODO Refactor this code #}
        <div class="col-md-6">
            <div class="row border-top specials__row--one">
                <div class="box-wrap">
                    <div class="box box-one">
                        <span class="price price-one">65</span>
                        <div class="save">SAVE $173</div>
                    </div>
                </div>
                <h6 class="offer__title">Children's&nbsp;New&nbsp;Patient<br>Dental&nbsp;Exam</h6>
                <p>New patients save $216 on a comprehensive exam by the doctor, including needed digital x-rays and a pre-orthodontic evaluation.<br>(D0150, D0272, D0330)</p>
            </div>

            <div class="row  specials__row--two">
                <div class="box-wrap">
                    <div class="box box-two">
                        <span class="price price-two">45</span>
                        <div class="save">SAVE $53</div>
                    </div>
                </div>
                <h6 class="offer__title">New&nbsp;Patient&nbsp;Dental&nbsp;Cleaning</h6>
                <p>Includes a professional dental cleaning. A new patient exam is required. Does not include periodontal
                    therapy. <br>(D1110) ​</p>
            </div>

            <div class="row  specials__row--three">
                <div class="box-wrap">
                    <div class="box box-three">
                        <span class="free">FREE</span>
                        <div class="save">SAVE $156</div>
                    </div>
                </div>
                <h6 class="offer__title">New&nbsp;Children’s&nbsp;Exam and&nbsp;Cleaning</h6>
                <p>Patients 12 and under receive a professional dental cleaning, fluoride treatment, needed x‑rays, and
                    a comprehensive exam. <br>(D0150, D1120, D0272, D1208)
                </p>
            </div>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <div class="specials-below hidden-lg">
        <img src="/assets/offers-bkgd_mobile.jpg" alt="Specials Mobile">
    </div>

</section>