<div class="tour-carousel">

    {% if container %}
    <div class="container">
        {% endif %}

        <div class="owl-carousel js-tour-carousel" >

            <img src="/assets/tour/1.jpg" alt="Fun stuffed animal">
            <img src="/assets/tour/2.jpg" alt="Welcome sign at the office">
            <img src="/assets/tour/3.jpg" alt="Very kid friendly office art">
            <img src="/assets/tour/4.jpg" alt="Classic red kids' toys vending machine">

        </div>

        {% if container %}
    </div>
    {% endif %}

</div>