a.btn,
button.btn {
  font-family: $ff-mont;
  font-weight: 500 !important;
  @include font-size(18px, 18px, 17px, 16px, 14px);

  background-color: #88B13B;
  color: #000000;
  border-radius: 35px;
  border: solid 2px #ffffff;
  padding: 10px 40px;

  &:hover, &:focus {
    background-color: darken(#88B13B, 15% );
    //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.36);
    transition: all .3s ease;
    text-decoration: none;
    color: #000000;
  }

  //&.btn--style-two {
  //  background-color: #bb471a;
  //  &:hover, &:focus {
  //    background-color: darken(#bb471a, 15% );
  //    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.36);
  //  }
  //}
  //&.btn--style-three {
  //  background-color: rgba(255, 255, 255, 0.80);
  //  color: #5a710d;
  //  border: solid 2px #5a710d;
  //  &:hover, &:focus {
  //    background-color: #ffffff;
  //    color: #5a710d;
  //    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.36);
  //  }
  //}

  &.shadowed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
  }

  &.form-btn {
    width: 100%;

  }

}