.tour-carousel {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;

  .owl-carousel .owl-nav [class*=owl-] {
    right: 0;
    background-color: rgba(17, 142, 148, 0.31);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #765F8F !important;
  }
  .owl-carousel:hover .owl-nav [class*=owl-] img {
    transition: display .3s ease;
  }
  .owl-carousel .owl-nav .owl-prev {
    left: 0;
  }

  .owl-carousel:hover .owl-nav .owl-next {
    right: 0;
  }
  .owl-carousel:hover .owl-nav .owl-prev {
    left: 0;
  }

  .owl-carousel .owl-nav [class*=owl-]:hover {
    background-color: rgba(17, 142, 148, 0.66) !important;
    color: #765F8F !important;
    text-decoration: none;
  }
}
