#video-promo {
  .heading {
    h2{
      color: #3A5464;
    }
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  background-image: url('./../assets/videobg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}