<div class="hours-table">
    <h5 class="t400">Hours</h5>
    <table >
        <tbody>
        <tr>
            <th class="t400">Monday</th>
            <td>8:00am - 5:00pm</td>
        </tr>
        <tr>
            <th class="t400">Tuesday</th>
            <td>8:00am - 5:00pm</td>
        </tr>
        <tr>
            <th class="t400">Wednesday</th>
            <td>8:00am - 5:00pm</td>
        </tr>
        <tr>
            <th class="t400">Thursday</th>
            <td>7:00am - 4:00pm</td>
        </tr>
        <tr>
            <th class="t400">Closed</th>
            <td>Friday - Sunday</td>
        </tr>
        </tbody>
    </table>
</div>