<div class="hours-table">
    <h4 class="t700">Hours</h4>
    <table >
        <tbody>
        <tr>
            <th class="t400">Mon</th>
            <td>8:00am - 5:00pm</td>
        </tr>
        <tr>
            <th class="t400">Tue</th>
            <td>7:00am - 4:00pm</td>
        </tr>
        <tr>
            <th class="t400">Wed</th>
            <td>8:00am - 5:00pm</td>
        </tr>
        <tr>
            <th class="t400">Thu</th>
            <td>7:00am - 4:00pm</td>
        </tr>
        <tr>
            <th class="t400">Fri - Sun</th>
            <td>Closed</td>
        </tr>
        </tbody>
    </table>
</div>