#google-map5 {
  height: 200px;
  @media (min-width: $width-xs) {
    height:250px;
  }
  @media (min-width: $width-sm) {
    height:350px;
  }
  @media (min-width: $width-md) {
    height: 770px;
  }
  @media (min-width: $width-lg) {
    height: 800px;
  }
}