<div class="associations-carousel">
    <div class="container">
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="assets/associations/_0000_ada.png" alt="agd master"></div>
                <div class="logo--wrapper"><img src="assets/associations/_0001_ngds.png" alt="Kois Graduate"></div>
                <div class="logo--wrapper"><img src="assets/associations/_0002_gda.png" alt="American Dental Association"></div>
                <div class="logo--wrapper"><img src="assets/associations/_0003_abpd.png" alt="Multnomah Dental Society"></div>
                <div class="logo--wrapper"><img src="assets/associations/_0004_aapd.png" alt="American Board of Operative Dentistry"></div>
            </div>
        </div>
    </div>
</div>
