<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include '/organisms/head.twig' %}

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    {% include 'organisms/header.twig' with
        {
            "transparent": false
        }
    %}

    {% include 'organisms/marquee.twig' %}

    <!-- Content
  ============================================= -->

    <div id="content" >

        {% include 'molecules/cta__two-to-one.twig' with
            {
                'id': 'id="cta-one"',
                'existingPatients': true
            }
        %}

        {% include 'organisms/about.twig' %}

        {% include 'organisms/new_specials.twig' %}

        {% include 'molecules/cta__two-to-one.twig' with
            {
            'existingPatients': false
            }
        %}

        {% include 'organisms/reviews.twig' %}

        {% include 'organisms/insurance.twig' %}

        {% include 'organisms/services.twig' %}

        {% include 'organisms/tour__simple-slab-n-modal.twig' %}

        {% include 'organisms/location.twig' %}

    </div>

    <!-- Modals
    ============================================= -->
    {% include 'molecules/services__modals.twig' %}
    {% include 'organisms/request-modal.twig' %}

    <!-- Footer
    ============================================= -->
    {% include 'organisms/footer.twig' %}

</div><!-- #wrapper end -->

{% include 'organisms/foot.twig' %}

</body>
</html>
