//Overrides for Canvas
#footer {
  position: relative;
  background-color: #435363;
  border-top: none;
  a {
    @include link-color(#ffffff);
  }
  p {
    font-weight: 400;
    font-family: $ff-lato;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    @media screen and (max-width: $width-md) {
      float: none;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  @media screen and (max-width: $width-md) {
    text-align: center;
  }

  .footer-padding {
    padding: 40px;
    @media (max-width: $width-md) {
      padding: 20px;
    }
  }
  .tyson-steele-text {
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .facebook-link {
    margin-bottom: 20px;
  }

  .flex--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: $width-sm) {
      flex-direction: column;
      .text {
        order: 1;
      }
    }
  }

  .accessibility {
    padding-left: 5px;
  }
}


