#section-forms {
  border-top: #006674 solid 1px;
  .heading {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url('/assets/forms-heading-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &__title {
      color: #0F6F7D;
      margin-bottom: 0;
      line-height: 1;
      padding-bottom: 0;
      padding-top: 10px;
    }
    &__byline {
      font-style: italic;
      color: #515151;
      font-family: $ff-poly;
      margin-bottom: 15px;
    }
  }
  .btn {
    margin-top: -10px;
    margin-bottom: 45px;
  }
}