#section-insurance {

  $c-no-insurance: #006674;
  $c-sub-header: #435363;
  $c-preventative: #515151;
  $c-copy: #000000;
  $c-mobile-bg: white;

  padding-top: 50px;
  background-image: url('/assets/insurance.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media (max-width: $width-sm - 1) {
    background-color: $c-mobile-bg;
    background-image: none;
    .row>div {
      text-align: center;
    }
  }

  .title {
    font-family: $ff-mont;
    text-transform: uppercase;
    font-weight: 700;
    @include font-size(65px, 54px, 40px, 50px, 33px);
    @media (width: 768px) {
      font-size: 40px;
    }
    margin-bottom: 0;
    line-height: 1.1;
    color: $c-no-insurance;
  }
  .sub-title {
    font-family: $ff-poly;
    font-style: italic;
    @include font-size(45px,
                       40px,
                       30px,
                       40px,
                       25px);
    font-weight: 700;
    color: $c-sub-header;
    margin-bottom: 0;
  }
  .care-text {
    font-weight: 400;
    line-height: 1.2;
    padding-top: 30px;
    color: $c-preventative;
    @include font-size(32px, 30px, 24px, 28px, 20px);
  }
  .list-item {
    list-style: none;
    p {
      color: $c-copy;
      list-style: none;
      @include font-size(21px, 19px, 14px, 19px, 15px);
      font-size: 21px;
      margin-bottom: 0;
      line-height: 1.2;
    }
  }
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    @include lr-padding(80px, 70px, 60px, 60px, 40px);
    margin-bottom: 100px;
  }

  //Fix for insurance background on mobile
  .mobile-insurance-fix {
    display: none;
    @media (max-width: $width-sm - 1) {
      margin-top: -100px;
      display: block;
    }
  }
}
