#marquee-slider {


  //.swiper-slide.slide1 {
  //  background-image: url('assets/slide1.jpg');
  //  background-position: 30% center;
  //}
  //.swiper-slide.slide2 {
  //  background-image: url('assets/slide3.jpg');
  //}
  //.swiper-slide.slide3 {
  //  background-image: url('assets/slide2.jpg');
  //  background-position: 30% center;
  //}

  .swiper-slide {
    > img {
      width: 100%;
    }
    .container {
      height: 100%;
    }
    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }


  .slide1 {
    //.slide__title {
    //  color: #5a710d;
    //  font-family: $ff-berkshir;
    //  margin-bottom: 20px;
    //  line-height: 0.8;
    //  font-weight: 400;
    //}

    .slide__copy {
      @include font-size(26px,
              24px,
              24px,
              24px,
              24px);
      color: #000000;
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 1;
      font-weight: 400;
    }

    .row {
      transform: translateY(-100%);
      top: 100%;
      padding-bottom: 15px;
    }
  }
  .slide2 {
    .slide__title {
      color: #63358E;
      font-family: $ff-caveat;
      margin-bottom: 20px;
      line-height: 0.8;
      font-weight: 400;
      &:first-line {
        color: #8e45d8;
      }
    }
    .stars {
      line-height: 1.1;
      margin-bottom: 30px;
    }
    .icon-star3 {
      color: rgba(251, 221, 1, 0.71);
    }
    .copy {
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 30px;
      @include font-size(22px, 19px, 18px, 20px, 19px);
    }
  }
  .slide3 {
    .title--no-insure {
      font-family: $ff-caveat;
      color: #8e45d8;
      margin-bottom: 0;
      line-height: 1;
      font-weight: 700;
      @include  font-size(62px, 60px, 35px);
    }
    .title--sub {
      color: #658540;
      font-family: $ff-caveat;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 45px;
      @include  font-size(46px, 38px, 35px);
    }
    .preventative-copy {
      color: #000000;
      font-weight: 400;
      line-height: 1.1;
    }
    .btn {
      @include lr-padding(80px, 60px, 60px);
    }
  }

  .icon-star3 {
    color: $c-star;
  }

  .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

#mobile-background {
  display: none;
  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}