#section-specials {
  background-image: url('/assets/specials-bg.jpg');
  padding-top: 30px;
  padding-bottom: 60px;

  .heading {
    padding-top: 10px;
    padding-bottom: 10px;
    &__title {
      margin-bottom: 0;
      line-height: 1;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
    }
    &__byline {
      color: #ffffff;
      font-family: $ff-poly;
      font-style: italic;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
    }
  }


  .specials__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
      .specials-card {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  .specials-card {
    background-color: #ffffff;
    text-align: center;
    width: 30%;
    position: relative;

    &__top {
      border-bottom: 44px solid turquoise;
      padding-top: 70px;
    }
    &__bottom {
      padding-top: 80px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__cost {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -105px;
      margin-left: auto;
      margin-right: auto;
      width: 164px;
      height: 164px;
      border-radius: 50%;
      color: white;
      font-weight: 900;
      font-family: $ff-lato;
      font-size: 92px;
      &:before {
        content: '$';
        position: absolute;
        font-size: 35px;
        left: 15px;
        top: 30px;
        font-family: $ff-lato;
        font-weight: 400;
      }
    }
    &__savings {
      font-family: $ff-lato;
      font-size: 20px;
    }
    &__title {
      font-family: $ff-mont;
      font-weight: 700;
      line-height: 1.3;
      &:first-line {
        font-weight: 400;
      }
    }
    &__copy {
      color: #424242;
      line-height: 1.4;
      margin-bottom: 90px;
      font-size: 17px;
    }
    &__codes {
      font-size: 14px;
      margin-bottom: 25px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:nth-child(1) {
      .specials-card__top {
        background-color: #06A0A2;
        border-bottom-color: #8ED3D4;
      }
      .specials-card__cost {
        background-color: #20858E;
      }
      .specials-card__savings {
        color: #3797a0;
      }
      .specials-card__title {
        color: #3797a0;
      }
    }
    &:nth-child(2) {
      .specials-card__top {
        background-color: #6E9D00;
        border-bottom-color: #B2C683;
      }
      .specials-card__cost {
        background-color: #547900;
      }
      .specials-card__savings {
        color: #557900;
      }
      .specials-card__title {
        color: #557900;
      }
    }
    &:nth-child(3) {
      .specials-card__top {
        background-color: #2D569B;
        border-bottom-color: #7897CB;
      }
      .specials-card__cost {
        background-color: #193B76;
      }
      .specials-card__savings {
        color: #193C76;
      }
      .specials-card__title {
        color: #193C76;
      }
    }

  }


}